html {
    background-color: #504945;
    color: #ebdbb2;
    font-size: 1rem;
    font-family: "Ernestine", sans-serif;
}

@font-face {
    font-family: "Ernestine";
    src: local("Ernestine"), url("/resources/Fonts/ErnestineWeb.woff2")
}

@font-face {
    font-family: "Ernestine-bold";
    src: local("Ernestine-bold"), url("/resources/Fonts/ErnestineWeb-bold.woff2")
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 4em;

    &__logo {
        height: 3.5em;
        margin: 0.5em;
    }

    &__links {
        display: flex;
        list-style: none;
        align-items: center;

        a {
            text-align: center;
            color: #d79921;

            &:visited {
                color: #d79921;
            }
        }

        .active {
            background-color: #cc241d;

            &:hover {
                background-color: #fb4934;
            }
        }
    }

    &__item {
        padding: 0.3em 0.5em;
        width: 5em;
        font-family: "Ernestine-bold";
        font-size: 1em;

        &:hover {
            color: #fabd2f;
            background-color: #3c3836;
        }
    }
}

h1 {
    padding-top: 0.3em;
    text-align: center;
    font-size: xx-large;
}

.container {
    padding: 1em;
    display: flex;
    margin: 0em 2em 0 2em;
    align-items: center;
    justify-content: center;

    &__header {
        font-size: xxx-large;
    }

    &__image {
        margin: 0 2em 0 2em;
        max-width: 25em;
        height: auto;

    }

    &__sub {
        width: 25em;
        flex-wrap: wrap;
        margin: 0 2em 0 2em;
    }

    &__text {
        text-align: left;
        background-color: blue;
    }

    &__cta {
        padding: 0.5em;
        border-radius: 0.5em;
        color: #cc241d;
        background-color: #d79921;
        line-height: 1.5em;
        font-family: "Ernestine-bold";
        font-weight: bolder;
        font-size: 1.5em;
        box-shadow: 0.1em 0.1em 0.1em black;
        
        &:visited {
            color: #cc241d;
        }

        &:hover {
            background-color: #fabd2f;
            color: #fb4934;
        }
    }
}

ul {list-style-type: none;}

.purchasing {
    display: flex;
    justify-content: center;
    gap: 1em;

    &__ticket{
        display: block;
        text-align: center;

        &__button {
            padding: 0.5em 1em 0.5em 1em;
            background-color: #d79921;
            font-weight: bolder;
            color: #cc241d;
            border-radius: 0.5em;
    
            &:hover {
                background-color: #fabd2f;
                color: #fb4934;
                cursor: pointer;
            }
        }

        &__price{
            padding-top: 1em;
        }
    }
}

.prijsveld {
    padding-top: 2em;
    display: block;
    width: fit-content;
    margin: auto;
}

.lijstKnop {
    text-decoration: none;
    padding: 0 0.5em 0 0.5em;
    color: #cc241d;
    font-size: 1.5em;
    background-color: #d79921;
    border-radius: 0.3em;
    cursor: pointer;
    text-align: center;

    &:hover{
        color: #fb4934;
        background-color: #fabd2f;
    }
}

.weerbericht {
    width: 20em;
    margin: auto;
    padding: 1em 0 3em 0;
}